.container.product {
    max-width: 700px;
}

.container.order {
    margin: 80px auto;
}

.orderInfo {
    padding: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
}

#parent{
    padding: 0;
    margin-bottom: 20px;
}
.card {
    margin: 30px;
    padding: 0;
    text-align: center;
}
#colors, #quantity{
    margin: 10px 0;
}

h1 {
    text-align: center;
    margin: 20px;
    color: #6d80b0;
    font-weight: normal;
}

#basket {
    margin-top: 60px;
}

#basket > li > span:first-child{
    padding: 0 40px;
}

#sum {
    border: 2px solid #0d6efd;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    margin: 20px;
    font-weight: bolder;
}

.imageBasket{
    width: 10%;
}

#orderForm {
    width: 30%;
    margin: 0 auto;
}

#orderConfirm{
    margin: 20px 0;
    width: 100%;
}

.list-group-item.d-flex.justify-content-between.align-items-center > span , img {
    margin: 0 20px;
}

.badge.bg-primary.rounded-pill {
    color: white;
    padding: 8px;
}
